@model QL_phatthuong.Models.PhanQua

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhanQua</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenQua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaQua }) |
    @Html.ActionLink("Back to List", "Index")
</p>
