@model IEnumerable<QL_phatthuong.Models.PhanQua>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenQua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTri)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenQua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTri)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaQua }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaQua }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaQua })
        </td>
    </tr>
}

</table>
